<ion-header>

  <ion-navbar>
    <ion-title>
      ModelContas
    </ion-title>

    <ion-buttons start>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="conta.descricao"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="salvar()">Salvar</button>
</ion-content>