<ion-header>

  <ion-navbar>
    <ion-title>Lançamentos</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="lancamento.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input type="number" [(ngModel)]="lancamento.valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" doneText="Feito" cancelText="Cancelar" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="lancamento.data"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Entrada / Saida</ion-label>
      <ion-select cancelText="Cancelar" [(ngModel)]="lancamento.entradaSaida">
        <ion-option value="entrada">Entrada</ion-option>
        <ion-option value="saida">Saída</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Pago</ion-label>
      <ion-checkbox [(ngModel)]="lancamento.pago"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label floating>Contas</ion-label>
      <ion-select type="text" cancelText="Cancelar" [(ngModel)]="lancamento.conta">
        <ion-option *ngFor="let conta of listaContas" value="{{ conta.descricao }}">{{ conta.descricao }}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block (click)="salvar()">Salvar</button>

  </ion-list>
</ion-content>