<ion-menu [content]="mainMenu">
    <ion-header>
        <ion-navbar>
            <ion-title>
                Meu Menu
            </ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of paginas" (click)="openPage(p)">
                {{ p.title }}
                <ion-icon [name]="p.icone" item-left></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #mainMenu></ion-nav>
