<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Pagina contas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list closeSlidingItems>
    <ion-item-sliding *ngFor="let item of listaContas">

      <ion-item (click)="editar(item)">
        {{ item.descricao}}
      </ion-item>

      <ion-item-options>
        <button ion-button expandable color="danger" (click)="deletar(item)">
          Excluir
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="inserir()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>