<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Lançamentos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of listaLancamentos">
      <ion-item>
        <ion-row>
          <ion-col col-md-9>
            <h2>{{ item.descricao }}</h2>
            <p>{{ item.conta }}</p>
            <p>{{ item.data }}</p>
          </ion-col>

          <ion-col col-md-3>
            <p>{{ item.valor }}</p>
            <p>{{ item.pago }}</p>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-options>
        <button ion-button expandable color="danger" (click)="deletar(item)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="inserirLancamento()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>